/****************************
GENERAL PAGE RULES
*****************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    padding: 1rem 0;
}
#jumbotron{
    margin-top: 90px;
    padding: 0;
    width: 100%;
}
/****************************
NAVBAR RULES
*****************************/
#nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
    background-color: #2c3e50;
}
#nav .navbar-expand-lg{
    background-color: #2c3e50;
}
#nav .navbar-brand{
    color: white;
    font-weight: 700;
}
#nav .nav-link{
    color: white;
}
#nav .navbar-toggler{
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
}
#nav .navbar-collapse{
    flex-grow: 0;
}
/* nav .col-12{
    display: flex;
    justify-content: space-between;
}
nav .col-12 h3{
    margin: 1rem 0;
    display: block;
    align-self: center;
    font-weight: 700;
    flex-wrap: nowrap;
    font-size: 1.3rem;
}
nav .hamburgher-btn{
    align-self: center;
    border: 1px solid white;
    border-radius: 5px;
    min-width: 45px;
    min-height: 40px;
    display: flex;
    justify-content: center;
}
nav .hamburgher-btn i{
    display: block;
    align-self: center;
    color: gray;
}
nav .col-12 a{
    color: white;
    text-decoration: none;
    display: block;
    align-self: center;
} */

/* media queryes */
/*  */
@media all and (max-width:576px){
    .navbar{
        width: 100%;
        margin: 0 auto;
        background-color: #2c3e50;
    }
    nav .hamburgher-btn{
        display: flex;
    }
    nav ul {
        display: none;
    }
    section .container-xs{
        max-width: 90%;
        margin: 0 auto;
    }
}
/* tablet */
@media all and (min-width:579px) {
    .navbar{
        width: 80%;
        margin: 0 auto;
    }
    nav .hamburgher-btn {
        display: none;
    }

    nav ul {
        display: flex;
    }

    section .container-xs {
        max-width: 80%;
        margin: 0 auto;
    }
    nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}
    nav li {
    margin: 0 0.2rem;
    display: block;
    align-self: center;
    font-weight: 500;
}
    nav li:hover{
    text-decoration: underline white;
}
}
/* desktop */
@media all and (min-width: 992px){
    .navbar{
        width: 80%;
        margin: 0 auto;
    }
    section .container-xs {
            width: 70%;
            margin: 0 auto;
        }
}
/****************************
JUMBOTRON RULES
*****************************/
div .jumbo-img{
    max-width: 45%;
    margin: 0 auto;
}
div .jumbo-img img{
    width: 300px;
    margin: 2rem 0;
}
div .jumbo-title h2 {
    color: white;
    margin: 0;
}
div.draw {
    margin: 0.5rem 0;
}
div .line{
    width: 70px;
    margin: 0 0.5rem;
    height: 3px;
    background-color: white;
    display: block;
    align-self: center;
}
div .star{
    display: block;
    align-self: center;
}
div.jumbo-txt{
    margin-bottom: 2rem;
}
div .jumbo-txt ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jumbo-txt li{
    margin: 0 0.2rem;
    display: block;
    align-self: center;
}
.star i{
    color: white;
}
div.jumbo-txt li h3{
    font-size: 1rem;
    margin: 0;
}
div.jumbo-txt li a{
    text-decoration: none;
    color: white;
}
div.jumbo-txt span{
    color: white;
    font-size: 1rem;
}
/* media query */
/****************************
PORTFOLIO SECTION RULES
*****************************/
div.black .line{
    background-color: black;
}
div.black .star i {
    color: black;
}
div.col-12 h3 {
    margin: 0.5rem 0;
}
div.img-box img{
    max-width: 100%;
    padding: 1rem;
}
/****************************
ABOUT SECTION RULES
*****************************/
div.btn a{
    color: white;
    text-decoration: none;
    display: block;
}
div.btn{
    display: flex;
    padding: 0.5rem;
    border: 1px solid white;
    margin: 2rem;

}
div.btn a i.fa-download{
    margin-right: 0.5rem ;
}
/****************************
CONTACT ME SECTION RULES
*****************************/
form.contact button{
    margin: 1rem 0;
}
form.contact .form-control{
    border:  none;
    cursor: pointer;
}
#floatingTextarea2_border{
    border: none;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
}
/****************************
FOOTER RULES
*****************************/
footer h6,
footer p,
footer li i{
    color: white;
}
footer a.color-green{
    color: #1abc9c;
    text-decoration: none;
}
footer .a-white a{
    color: white;
    text-decoration: none;
}
footer .a-white{
    margin: 2rem 0;
}
footer ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin-bottom: 2rem;
}
footer ul li{
    margin: 0 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
footer ul li a{
    display: flex;
    text-decoration: none;
}
footer ul li a i{
    display: block;
    align-self: center;
}
footer span{
    color: white;
    font-size: 0.7rem;
}
.black{
    color: black;
}
.white{
    color: white;
}
.green{
    background-color: #1abc9c;
}

.light-grey {
    background-color: #3a546d;
}
.dark-grey{
    background-color: #2c3e50;
}